* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

body h1 {
    font-family: "Bebas Neue", sans-serif;
}

body p {
    font-family:'Bebas Neue', sans-serif;
}

.mainbg .bg {
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    z-index: 2; /* Set a higher z-index than the video */
}

.navbar {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: solid orange 2px;
}

.navbar .nav-links {
    display: flex;
}

.navbar a {
    font-family: "Bebas Neue", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    margin-left: 40px;
    margin-right: 10px;
    letter-spacing: 2px;
    position: relative;
    text-align: center;
}

.navbar .logo-image {
    margin-left: 20px;
}

.navbar a:hover {
    font-weight: bold;
}

.navbar a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: orange;
    transition: width 0.3s ease, height 0.3s ease;
}

.navbar a:hover::after {
    width: 95%;
}


.playnow {
    position: absolute;
    top: 78%;
    left: 81%;
    transform: translate(-50%, -50%);
}

.play-button {
    width: 300px;
    height: 75px;
    background-image: url(Images/playnow1.png);
    background-size: cover;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px black;
}

.play-button:hover {
    background-image: url(Images/playnow2.png);
    transition: 0.2s ease;
    box-shadow: 0px 0px 5px 5px goldenrod;
}

.tagline {
    width: 500px;
    position: absolute;
    font-size: 1.5rem;
    font-weight: bolder;
    top: 63%;
    margin-left: 81%;
    transform: translate(-50%, -50%);
    padding: 10px 10px;
    text-align: center;
    color: black;
    text-shadow: 0px 0px 1px yellow;
}

video {
    position: absolute;
    top: 125%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: transparent;
    z-index: -1; /* Set a lower z-index than the background image */
}


.overlay {
    background: transparent;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay1 {
    position: absolute;
    top: 105%;
    width: 100%;
    height: 100%;
}

.overlay2 {
    position: absolute;
    top: 205%;
    width: 100%;
    height: 100%;
}