/* Glossary */

/* ---Text Related Styling--- /
/ font-family: Specifies which font or fonts to be used. /
/ font-size: Changes the font size. /
/ text-decoration: Defines whether text can have any decoration, e.g. underlines. /
/ color: Used to sets the text's color. */

/* ---Padding and Margin--- /
/ padding: Used to change an element's inner padding. /
/ margin: Used to change the area surrounding an element. */

/* ---Position Styling--- /
/ position: Indicates how an element is to be positioned. */

/* ---Color-Related Styling--- /
/ background-color: Adjusts an element's background color. */

/* ---Box Model--- /
/ box-sizing: This defines how an element's height and width are assigned. /
/ width: This determines an element's width. /
/ height: This determines an element's height. */

/* ---Transitions and Transformations--- /
/ transform: Allows an element to change such as scaling, rotation, etc. */

* {
    box-sizing: border-box;
    /* Ensures that padding and border are included in the element's total width and height. */
    margin: 0;
    /* Removes any default margin. */
    padding: 0;
    /* Removes any default padding. */
}

.header {
    background-color: #17072b;
    /* Sets the background color for the header element. */
    padding: 1% 1%;
    /* Defines the padding for the header element. */
    text-align: center;
    /* Aligns the text within the header element to the center. */
}

.header h1 {
    margin-top: 0.5%;
    /* Sets the top margin for the h1 element within the header. */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* Specifies font-family for the h1 element within the header. */
    font-size: 4rem;
    /* Sets the font size for the h1 element within the header. */
    text-decoration: underline;
    /* Adds underline to the text of the h1 element the  within header. */
    color: white;
    /* Sets the text color of the h1 element within header to white. */
    margin-bottom: 1%;
    /* Sets the bottom margin for the h1 element within the header. */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* Specifies font-family for paragraphs and h2 elements within the body. */
    font-size: 1.9rem;
    /* Sets the font size to 400 for paragraphs and h2 elements within the body. */
    background-color: white;
    overflow: hidden;
}

nav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* Specifies font-family for the nav element. */
}

nav a {
    color: white;
    /* Sets the text color of anchor elements within nav. */
    text-decoration: none;
    /* Removes underline from anchor elements within nav. */
    margin: 2rem 1rem;
    /* Sets the margin for anchor elements within nav. */
    font-size: 2rem;
    /* Sets the font size for anchor elements within nav. */
}

.main {
    margin-top: 1%;
    /* Sets the top margin for the main content area. */
    margin-left: 2%;
    /* Sets the left margin for the main content area. */
    margin-bottom: 0.25%;
    /* Sets the bottom margin for the main content area. */
}

.MainImage {
    margin-top: 1%;
    /* Sets the top margin for the main image. */
    width: 67%;
    /* Sets the width of the main image to 67% of its container. */
}

.aside {
    position: absolute;
    /* Sets the position of the aside element as absolute, meaning it is positioned relative to the nearest positioned ancestor (typically the nearest parent element with a position other than static). */
    top: 23.4%;
    /* Sets the distance of the top of the aside element from the top of its containing element to 23.4% of the container's height. */
    left: 72.7%;
    /* Sets the distance of the left side of the aside element from the left side of its containing element to 72.7% of the container's width. */
    background-color: #172d67;
    /* Sets the background color for the aside element. */
    padding: 2%;
    /* Defines the padding for the aside element. */
    color: white;
    /* Sets the text color of the aside element to white. */
}

.aside li {
    margin: 10% 4%;
    /* Sets the margin for list items within the aside element. */
    color: white;
    /* Sets the text color of list items within the aside element to white. */
}


footer {
    bottom: 80%;
    /* Sets the distance of the footer from the bottom of its containing element to 80% of the container's height. */
    text-align: center;
    /* Aligns the text within the footer element to the center. */
    color: white;
    /* Sets the text color of the footer element to white. */
    padding: 0.2%;
    /* Defines the padding for the footer element. */
    background-color: #8c15e9;
    /* Sets the background color for the footer element. */
}